  <% @board.bulletins.each do |bulletin| %>
    <div class="col-lg-3 bul-h-w">
      <div class="thumbnail">
        <div class="caption">
          <h3><%= bulletin.title %></h3>
          <p><%= bulletin.body %></p>
        </div>
      </div>
    </div>
  <% end %>
