<h1>uPost Board</h1>
<h4>Share your bulletins here</h4>

<div>
  <%= image_tag("cork_board.jpg", :width => "100%") %>
</div>

<div>
  <button type="button" class="btn btn-primary">Add Bulletin</button>
</div>
