<h1>uPost Board</h1>
<h4>Share your bulletins here</h4>

<div>
  <%= image_tag("cork_board.jpg", :width => "100%") %>
</div>

<div>
  <%= link_to "Add Bulletin", new_bulletin_path, class: "btn btn-primary" %>
</div>

<div>
    <%= render partial: 'bulletins/bulletins' %>
</div>
