<h1 ><%= @board.title %></h1>
<h4>Share your bulletins here</h4>

<div class="row">
  <div class="col" style="z-index: 1">
    <%= image_tag('cork_board.jpg', :style => "max-width: 100%") %>
  </div>

  <div class="text-center text-lg-left" style="z-index: 200">
    <%= render 'bulletins/bulletins_on_board', board: @board %>
  </div>
</div>


<div class="row">
  <%= link_to "Add Bulletin", new_board_bulletin_path(@board), class: "btn btn-primary" %>
</div>
