<h1 ><%= @board.title %></h1>
<h4>Share your bulletins here</h4>

<div class="row">
  <div class="col">
    <%= image_tag('cork_board.jpg', :style => "max-width: 100%") %>
  </div>
</div>



<div>
  <%= link_to "Add Bulletin", new_board_bulletin_path(@board), class: "btn btn-primary" %>
</div>
