// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1, h4 {
  text-align: center;
}

h1 {
  padding-bottom: 2%;
}

.bulletin-board {

  background: {
    image: asset-url("cork_board.jpg");
  }
}
